body {
}
.App {
  text-align: center;
  border: 3px solid rgb(8, 115, 238);
  border-bottom: 3px solid #f80be4;
  border-right: 3px solid #f80be4;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title {
  color: grey;
}
.list-container {
  display: inline-block;
}
.list-container button {
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
}
.favorite {
  color: grey;
  text-align: left;
  margin-top: 5%;
}
hr {
  color: grey;
  border-top: 1px solid rgb(187, 184, 184);
  width: 90%;
}
.list-container :first-child {
  text-decoration: none;
  color: black;
}
.male {
  background-color: rgb(8, 115, 238);
}
.female {
  background-color: #f80be4;
}
.girl {
  background-color: #f80be4;
  width: 60px;
  border-radius: 5px;
}
.boy {
  width: 60px;
  border-radius: 5px;
}
.all {
  width: 60px;
  background-color: rgb(46, 37, 33);
  border-radius: 5px;
  color: white;
}
input {
  margin-top: 2%;
  margin-bottom: 0.5%;
}
